[submodule "subprojects/external/glfw"]
	path = subprojects/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "subprojects/external/glm"]
	path = subprojects/external/glm
	url = https://github.com/g-truc/glm.git
